{%extends "index.html"%}
{%block top%}
    <div class="meta">
        <div class="metalinks">
            <a href="#"><img src="/media/static/images/meta2.gif" alt="" width="17" height="14" /></a>
            <a href="#"><img src="/media/static/images/meta1.gif" alt="" width="15" height="14" /></a>
            <a href="#"><img src="/media/static/images/meta3.gif" alt="" width="17" height="14" /></a>
            <a href="#"><img src="/media/static/images/meta4.gif" alt="" width="15" height="14" /></a>
        </div>                                                                                                                                                                                                    
    </div>
    
    <div id="header">
        <a href="{%url main_page%}"><img src="/media/static/images/logo-2.jpg" style="float:left;"alt="SDUSummer logo" width="148" height="24" />
        </a><span class="slogan">Practice Program</span>
    </div>
{%endblock%}
{%block rightinner%}
<div class="mes" id="message">
<ul>

<h3>Благодарим вас за участие.Ваша заявка успешно принята!</h3>
<p>можете перейти на главную страницу</p><a href="{%url main_page%}">здесь</a>
</ul>
</div>
</div>
{%endblock%}
