{%extends "index.html"%}
{%block top%}
    <div class="meta">
        <div class="metalinks">
            <a href="#"><img src="/media/static/images/meta2.gif" alt="" width="17" height="14" /></a>
            <a href="#"><img src="/media/static/images/meta1.gif" alt="" width="15" height="14" /></a>
            <a href="#"><img src="/media/static/images/meta3.gif" alt="" width="17" height="14" /></a>
            <a href="#"><img src="/media/static/images/meta4.gif" alt="" width="15" height="14" /></a>
        </div>                                                                                                                                                                                                    
    </div>
    
    <div id="header">
        <a href="{%url main_page%}"><img src="/media/static/images/logo-2.jpg" style="float:left;"alt="SDUSummer logo" width="148" height="24" /></a>
        <span class="slogan">Practice Program</span>
    </div>
{%endblock%}
{%block rightinner%}
<div id="home_content">
<h2 id="justi">Программа Университета им. Сулеймана Демиреля</h2>
<h2 id="justi2">"SDU Summer Program"</h2>
<h3>О нас</h3>
<p>Мы являемся группой энтузиастов, состоящей из студентов, преподавателей, а также специалистов в области ИТ, поддерживаемой группой компаний и выпускников. Данная программа запускается второй год, а команда стоящая за ней занимается подобного рода деятельностью уже более 7 лет. Наша работа не выходит за рамки некоммерческой деятельности и направлена исключительно на мирные цели :)</p>
<h3>Цели программы</h3>
<p>Мы хотели бы сблизить компании с ИТ специализацией и образование, наладив сотрудничество на исключительно взаимовыгодных условиях. Программа претерпевает изменения каждый год, с тем чтобы условия сотрудничества между компаниями и ВУЗами было бы актуально каждый год.</p>
<p>Мы убеждены, что успешность образования в области Информационных Технологий, зависит не только от качественного базового образования, но также и от практического опыта приобретенного студентами на всем протяжении обучения. Периодически получая отклики со стороны ведущих компаний страны, а также вовлекая специалистов индустрии делиться знаниями с молодежью мы не только способны постоянно корректировать программу базового образования и задавать верное направление развития знаний преподавательского состава, мы также даём сильную мотивацию и направление учащимся в изучении тех технологий и практик, которые они действительно будут применять на производстве.</p>
<p>Такой выпускник, имеющий хорошую базовую подготовку, имеющий базовые навыки использования современных технологий, а также хороший кругозор будет интересен компаниям, как сотрудник способный быстро включиться в работу, не нуждаясь в длительном сроке «переобучения».</p>
<p>Наша программа — это еще одна возможность компаниям получить хорошие кадры, а ВУЗам лучше готовить будущих специалистов, при отсутсвии каких-либо затрат. Программа 2010 года</p>
<p>Впервые программа была запущена в 2010 году, на участие в программу подало заявления около 70 человек. Из общего количества заявлений было отобрано 30 человек, которые прошли 3-х недельную подготовку, после которой 23 студента были выбраны компаниями для прождения практику в следущих компаниях (после прохождения практики многие ребята продолжили работать в этих компаниях):</p>
<ul>
<li>1.  Казкоммерцбанк, Департамент Инновационных Технологий</li>
<li>2.  BeeSoftware</li>
<li>3.  OneTouchTechnologies</li>
<li>4.  Begusha.kz</li>
<li>5.  KazahTiliKogamy</li>
<li>6.  PrimeSource</li>
<li>7.  BP Solutions</li>
<li>8.  DiamondIT</li>
<li>9.  Simplix</li>
</ul>
<p>Лекции и практические занятия ребятам вели специалисты из таких компаний как BeeSoft, OTT, Simplix, а также GSM Kazakhstan (Kcell).</p>
<h3>Текущие цели программы на 2011 год</h3>
<ul>
<li>1.      Дать возможность лучшим студентам получить производственную практику</li>
<li>2.      Мотивировать студентов к конкурентной борьбе</li>
<li>3.      Узнать текущие требования компаний к подготовке студентов</li>
<li>4.      Повысить качество подготовки студентов</li>
<li>5.      Повысить интерес компаний к программе</li>
</ul>
<h3>Общий процесс</h3>
<ul>
<li>1.      Сбор информации о технологиях, используемых в компаниях, а также определение приоритетных направлений подготовки будущих практикантов.</li>
<li>2.      Набор и подготовка студентов в определенных компаниями приоритетных направлениях, как-то технологии, процессы, стандарты и методологии.</li>
<li>3.      Проведение финального экзамена по истечении срока обучения (с желательным присутствием представителей IT компаний).</li>
</ul>
<p>Первым шагом в программе будет нахождение контактом с компаниями, работающими в сфере производства программного обеспечения, и предоставления им информации о программе. Для обеспечения нормальной деятельности программы в 2010 году мы рассчитываем привлечь от 7 до 10 компаний, для обеспечения 15-18 мест для студентов-практикантов.
</p>
<p>После официального согласия компаний участвовать в программе, мы рассчитываем получить информацию о технологиях, процессах и методологиях используемых этими компаниями в своей ежедневной работе,
а также в которых они заинтересованы в будущем. Эта информация будет использована главным образом для подбора программы обучения студентов-практикантов со стороны СДУ.
</p>
<p>Затем, будет произведен набор студентов в группы по изучаемым технологиям. Хотя мы рассчитываем только на 15 мест для прохождения практики, набор будет произведен из соотношения 1 к 2, т.е. количество
набранных студентов для обучения технологиям будет в два раза больше чем реальное количество мест. Это делается намеренно, для создания внутренней атмосферы конкуренции среди ребят. По окончании обучения ребятами будет проведен экзамен, где принимающей стороной будут как преподаватели, так и представители компаний-партнеров.</p>
<p>Обучать ребят будут как преподаватели из университета, так и профессионалы, активно работающие на данный момент в индустрии.</p>
<p>После проведения финального экзамена 15 из 30 студентов получат возможность пройти производственную практику (а возможно в будущем и работу) в компаниях-партнерах в течении 1-го 2-х месяцев (в
зависимости от требований компаний). После чего компании-партнеры вполне могут предложить место некоторым практикантам.</p>
<p>Во время и после прохождения практики студентами мы рассчитываем получить отзыв от компаний и практикантов о том, как можно было бы улучшить программу в будущем году, так чтобы сделать ее более полезной и привлекательной.</p>
<h3>Привлечение компаний</h3>
<p>В этом году при выборе компаний для предложения участия в программе самым главным принципом для нас является область деятельности компании. Мы рассчитываем работать исключительно с компаниями,
занимающимися производственной деятельностью, т.е. разработкой собственных программных продуктов.
</p>
<h3>Выбор кандидатов из числа студентов</h3>
<p>Для проекта выбираются топ 10% студентов из числа будущих 2-х, 3-х и 4-х курсов. Выбор студентов зависит от многих  факторов. Вот основные:</p>
<p>Очень важным при отборе студентов для нас является мотивация, желание быть успешными и способность работать что называется «день и ночь». Как показывает практика, именно такие ребята бывают действительно успешными в своей карьере.</p>
<h3>Подготовка студентов в соответствии с требованиями компаний</h3>
<p>Для успеха программы необходимо учесть все пожелания и требования компаний-партнеров при подготовке студентов-практикантов. Поэтому, мы планируем разделить всех студентов участвующих в программе на группы по изучаемым предметам. Таким образом, мы постараемся максимально эффективно использовать 2-х недельный период для лучшей подготовки студентов.</p>
<h3>Сроки запуска</h3>
<p>Заявление на участие в программе: принимаются до 15 Мая Также, вам следует заполнить анкету и дополнительно направить письмо по адресу sdu.summer.program@gmail.com. В письме вы должны указать свое ФИО, факультет, курс, группу, достижения (конференции, языки, созданные сайты -- что угодно, что вы считаете собственным достижением). Решение об участниках будет объявлено не позднее 31 Мая Образовательная программа с 1 по 14 июня. Экзамен: 15 -- 16 июня (примерная дата) Производственная практика: индивидуально для каждой компании - от 1-го до 2-х месяцев с 17 июня.</p>
<h3>Заключение</h3>
<p>Поскольку IT индустрия это высоко-динамичная среда, где тенденции и направления меняются ежегодно, всегда существует разрыв между преподаваемыми предметами и реальными требованиями индустрии. Мы
считаем, что подобная программа поможет наладить обратную связь между академической и профессиональной средой, и тем самым не только уменьшить этот разрыв, но и предоставлять более квалифицированные кадры компаниям, делая свой вклад в развитие IT индустрии</p>
</div>
{%endblock%}