{%extends "client_page.html"%}
{%block content%}
<div id= "content2">
	<h1><span>Новые события</span></h1>
	{%for e in events%}
    <div id="dis_mini">
    <h2><a href="{%url event_detail e.id%}">{{e}}</a></h2>
    <p>{{ e.description|safe|truncatewords_html:20 }}</p>
    <span class="spanpos">Приглашает на событие: <a href="{%url withoutedit e.author.id%}">{{e.author}}</a>  {{e.commentevent_set.count}} комментариев</span>
    <span class="edit_delete"><a href="{%url event_edit e.id %}">edit</a><a href="{%url event_delete e.id %}">delete</a></span>
    </div>
	{%endfor%}
	<a href="{%url event_create%}">Create Events</a>
    
    <h1><span>Новые дискуссии</span></h1>
    {%for dis in diss%}
    <div id="dis_mini">
    {% with dis.author.get_profile.image as image %}
    {% if image %}
        <img width="48" src="{{ image.url }}">
    {% else %}
        <img src="/media/static/images/per.png">
    {% endif %}
    {% endwith %}
    <h2><a href="{%url dis_detail dis.id%}">{{dis}}</a></h2>
    <p>{{ dis.description|safe|truncatewords_html:20 }}</p>
    <span class="spanpos">Created by:<a href="{%url withoutedit dis.author.id%}">{{dis.author}}</a>-{{dis.create_date}}-{{dis.comment_set.count}} comment</span>
    <span class="edit_delete"><a href="{%url dis_edit dis.id %}">edit</a><a href="{%url dis_delete dis.id %}">delete</a></span>
    </div>
{%endfor%}
<a href="{%url create_dis%}">New Discussion</a>

</div>
{%endblock%}

