{%extends "index.html"%}
{%block top%}
    <div class="meta">
        <div class="metalinks">
            <a href="#"><img src="/media/static/images/meta2.gif" alt="" width="17" height="14" /></a>
            <a href="#"><img src="/media/static/images/meta1.gif" alt="" width="15" height="14" /></a>
            <a href="#"><img src="/media/static/images/meta3.gif" alt="" width="17" height="14" /></a>
            <a href="#"><img src="/media/static/images/meta4.gif" alt="" width="15" height="14" /></a>
        </div>                                                                                                                                                                                                    
    </div>
    
    <div id="header">
        <a href="{%url main_page%}"><img src="/media/static/images/logo-2.jpg" style="float:left;"alt="SDUSummer logo" width="148" height="24" />
        </a><span class="slogan">Practice Program</span>
    </div>
{%endblock%}
{%block rightinner%}

<div id="home_content">
<h2 id="justi3">Выпускники программы "SDU Summer Program 2010"</h2>
<div id="user_block">
  <div class="img fl_l"><img width="108px" src="/media/static/images/prev_members/askhat.JPG"></div>
  <div class="info fl_l">
    <div class="row">
    <span class="label">Имя:</span>
    <span class="labeled">Murzabayev Askhat Ersinovich</span>
    </div>
    <div class="row">
    <span class="label">Впечатления:</span>
    <span class="labeled">Ммм, класно было провести все это время в технологиях ИТ, много новых людей, много новых вещей которым надо учиться, почуствовал себя мелким таким ) И самое главное знал чем можно будет заняться летом )</span>
    </div>
  </div>
</div>
<div id="user_block">
  <div class="img fl_l"><img width="108px" src="/media/static/images/prev_members/kostya.jpg"></div>
  <div class="info fl_l">
    <div class="row">
    <span class="label">Имя:</span>
    <span class="labeled">Konstantin Latuta</span>
    </div>
    <div class="row">
    <span class="label">Работа:</span>
    <span class="labeled"> Еще 2 семестра в СДУ как "дядя Костя"</span>
    </div>
    <div class="row">
    <span class="label">Впечатления:</span>
    <span class="labeled">Да хорошие впечатления такие, девушек в кабинете больше стало, жизнь ярче как-то, можно всегда ребусы поотгадывать, там трапезоиды порешать, убунту покавыряться... весело стало!</span>
    </div>
  </div>
</div>
<div id="user_block">
  <div class="img fl_l"><img width="108px" src="/media/static/images/prev_members/kanat.jpg"></div>
  <div class="info fl_l">
    <div class="row">
    <span class="label">Имя:</span>
    <span class="labeled">Тулбасиев Канат</span>
    </div>
    <div class="row">
    <span class="label">Работа:</span>
    <span class="labeled">TOO "Первое Кредитное Бюро"</span>
    </div>
    <div class="row">
    <span class="label">Впечатления:</span>
    <span class="labeled">безумные!)</span>
    </div>
  </div>
</div>
<div id="user_block">
  <div class="img fl_l"><img width="108px" src="/media/static/images/prev_members/german.JPG"></div>
  <div class="info fl_l">
    <div class="row">
    <span class="label">Имя:</span>
    <span class="labeled">Герман Ильин (German Ilyin)</span>
    </div>
    <div class="row">
    <span class="label">Работа:</span>
    <span class="labeled">ИАФР "ИРБИС"</span>
    </div>
    <div class="row">
    <span class="label">Впечатления:</span>
    <span class="labeled"> хорошо</span>
    </div>
  </div>
</div>
<div id="user_block">
  <div class="img fl_l"><img width="108px" src="/media/static/images/prev_members/ruslan.jpg"></div>
  <div class="info fl_l">
    <div class="row">
    <span class="label">Имя:</span>
    <span class="labeled">Мурзалин Руслан</span>
    </div>
    <div class="row">
    <span class="label">Работа:</span>
    <span class="labeled"> ТОО "Prime Source"</span>
    </div>
    <div class="row">
    <span class="label">Впечатления:</span>
    <span class="labeled">Пойдет, ток я уволился уже..</span>
    </div>
  </div>
</div>
</div>
{%endblock%}