{%extends "client_page.html"%}
{%block content%}
<div id= "content2">
    <h1><span>Детали События</span></h1>
<div id="dis_mini">
<h2 class="title">{{event|safe}}</h2>
<div id="date_time">Дата начала:{{event.date}} в {{event.start_time}}</div>
{{event.description|safe}}

<span class="created spanpos">Приглашает на событие: <a href="{%url withoutedit event.author.id%}">{{event.author}}</a>  {{event.commentevent_set.count}} комментариев</span>
{% ifequal user.id event.author.id %}
    <div class="sup">
    <ul>
    <li class="left"><span class="ui-icon ui-icon-pencil"></span></li>
    <li class="left"><a href="{%url event_edit event.id %}">ред.</a></li>
    <li class="left"><span class="ui-icon ui-icon-close"></span></li>
    <li class="left"><a href="{%url event_delete event.id %}">удалить</a></li>
    </ul>
    </div>
{% endifequal %}
</div>
<h1>Комментарии</h1>
{%for comment in event.commentevent_set.all%}
<div class="comments">
{% with comment.author.get_profile.image as image %}
{% if image %}
<img src="{{ image.url }}">
{% else %}
<img src="/media/static/images/per.png">
{% endif %}
{% endwith %}
<div id="text">
<a href="{%url withoutedit event.author.id%}">{{comment.author.client_set.get}}</a> 
{{comment|safe}}
<div id="date_mini">{{comment.created_date}}</div>
</div>
</div>
{%empty%}
No Comment
{% endfor %}
{% if user.is_authenticated %}
<form action="" method="post">{%csrf_token%}
{{cform.as_p}}
<input type='submit' value='post' />
</form>
</div>
{%endif%}
{%endblock%}
