{%extends "client_page.html"%}
{%block content%}
<div id= "content2">
    <h1><span>Все события</span></h1>
    {%for e in events%}
    <div id="dis_mini">
    <h2 class="title"><a href="{%url event_detail e.id%}">{{e}}</a></h2>
    <p>{{ e.description|safe|truncatewords_html:20 }}</p>
    {% ifequal user.id e.author.id %}
    <div class="sup">
    <ul>
    <li class="left"><span class="ui-icon ui-icon-pencil"></span></li>
    <li class="left"><a href="{%url event_edit e.id %}">ред.</a></li>
    <li class="left"><span class="ui-icon ui-icon-close"></span></li>
    <li class="left"><a href="{%url event_delete e.id %}">удалить</a></li>
    </ul>
    </div>
    {% endifequal %}
    <span class="created spanpos"> Автор: <a href="{%url withoutedit e.author.id%}">{{e.author}}</a>  {{e.commentevent_set.count}} отзывов</span>
    </div>
{%endfor%}
</div>
{%endblock%}
